---
interface Props {
  lang: string;
  currentPage: string;
}

import { kLocalEvents } from '@packages/data/constants';
import { contentForLang } from '@packages/data';

import CardLocationActivity from '../components/cards/card-location-activity.astro';
import StandAloneLink from '../components/links/standalone-link.astro';
import { makeHref } from '../js/utils';

const { lang, currentPage } = Astro.props;

const props = contentForLang(currentPage, lang);

const {
  whatIsED,
  edDescription,
  localeventsTitle,
  localeventsDescription,
  edInstitutionsTitle,
  edInstitutionsUrl,
  edInstitutionsDescription,
} = props;

const cardProps = (index) => ({
  lang,
  city: props[`activity${index}Title`],
  date: props[`activity${index}Date`],
  description: props[`activity${index}Description`],
  href: props[`activity${index}ButtonURL`],
  label: props[`activity${index}ButtonLabel`],
  time: props[`activity${index}Time`],
});

const indices = [1, 2, 3];

const otherLocationsProps = {
  label: localeventsTitle,
  href: makeHref({ lang, currentPage: kLocalEvents }),
  description: localeventsDescription,
  target: '',
  rel: '',
};

const externalLinkProps = {
  label: edInstitutionsTitle,
  href: edInstitutionsUrl,
  description: edInstitutionsDescription,
  target: '_blank',
  rel: 'noopener noreferrer',
};
---

<main {lang} role="main">
  <!-- Intro -->
  <section class="ep:l:max-w-6xl ep:l:mx-auto ep:px-8">
    <div class="ep:pt-20">
      <hgroup>
        <h2
          class="ep:text-heading-2xl ep:leading-heading-2xl ep:font-epsemiboldvar ep:text-black ep:pb-2">
          {whatIsED}
        </h2>
      </hgroup>
      <div
        set:html={edDescription}
        class="ep:[&>p]:pb-4 ep:[&>p:last-of-type]:pb-0 ep:[&>p]:text-body-m ep:[&>p]:text-black"
      />
    </div>
  </section>

  <section class="ep:l:max-w-6xl ep:mx-auto ep:py-8 ep:l:py-16 ep:px-8">
    <!-- List cards -->
    <div class="ep:mx-width-container ep:l:flex">
      <ul
        class="ep:flex ep:flex-col ep:l:flex-row ep:flex-wrap ep:w-full ep:l:[&>li]:w-1/3 ep:l:[&>li]:pr-4 ep:l:[&>li:last-of-type]:pr-0 ep:gap-y-10">
        {
          indices.map((index) => (
            <li>
              <CardLocationActivity {...cardProps(index)} />
            </li>
          ))
        }
      </ul>
    </div>

    <div class="ep:mx-width-container ep:l:flex ep:mt-xl">
      <ul
        class="ep:flex ep:flex-col ep:l:flex-row ep:flex-wrap ep:w-full ep:l:[&>li]:w-2/3 ep:l:[&>li]:pr-4 ep:l:[&>li:last-of-type]:pr-0 ep:gap-y-10">
        <li>
          <StandAloneLink {...otherLocationsProps} />
        </li>
        <li>
          <StandAloneLink {...externalLinkProps} />
        </li>
      </ul>
    </div>
  </section>
</main>
