---
import CardLocationActivity from '../components/cards/card-yourlocation-activity.astro';

import {
  kLocalEvents,
  basePath,
  slugify,
  countryKeys,
  countryPage2CountryKey,
  metadata,
  props,
  eplosForLang,
  countriesByLang,
  countriesForLang,
} from '../js/utils';

interface Props {
  lang: string;
  currentPage: string;
}

const { lang, currentPage } = Astro.props;

const { selectCountry, all } = metadata(lang);
const { title, sectionTitle } = props(kLocalEvents, lang);

const allEPLOs = eplosForLang(lang);
const countryL10ns = countriesForLang(lang);

const eplosForCountries = (countryList) =>
  countryList.flatMap((country) => allEPLOs[country]);

// country page -> eplos[country], n.b. speciall "all" page
// otherwise page lang -> countriesByLang[lang] -> eplos

const countries =
  currentPage === 'all'
    ? countryKeys
    : currentPage === kLocalEvents
      ? countriesByLang[lang]
      : [countryPage2CountryKey[currentPage]];

const eplos = eplosForCountries(countries);

const pagePath = (pageName) =>
  `/${basePath}/${lang}/${kLocalEvents}/${pageName}/`;
---

<main role="main">
  <section class="ep:l:max-w-6xl ep:l:mx-auto ep:px-8">
    <div class="ep:pt-20">
      <hgroup>
        <h2
          class="ep:text-heading-2xl ep:leading-heading-2xl ep:font-epsemiboldvar ep:text-black ep:pb-2">
          {title}
        </h2>
      </hgroup>
      <div
        class="ep:[&>p]:pb-4 ep:[&>p:last-of-type]:pb-0 ep:[&>p]:text-body-m ep:[&>p]:text-black">
        <p>{sectionTitle}</p>
      </div>
      <div class="ep:mt-m">
        <ep-select-single data-component="select-single">
          <div
            class="ep:select-container ep:relative ep:inline-block ep:[&_select]:bg-none ep:[&_svg]:absolute ep:[&_svg]:w-[24px] ep:[&_svg]:top-[50%] ep:[&_svg]:-translate-y-1/2 ep:[&_svg]:last-of-type:r-0">
            <select
              aria-label={selectCountry}
              id="eplo-country-switcher"
              class="ep:appearance-none ep:peer ep:cursor-pointer ep:group ep:bg-white ep:w-full ep:text-heading-m ep:font-epsemiboldvar ep:text-blue-500 ep:pl-2xs ep:pr-[3rem] ep:py-2xs ep:border-2 ep:border-blue-500 ep:rounded-xs ep:hover:bg-white ep:hover:text-grey-900 ep:focus:outline ep:focus:outline-2 ep:focus:outline-accent-blue-500 ep:focus:outline-offset-4 ep:ring-transparent ep:invalid:border-red-500">
              <option
                value={`/${basePath}/${lang}/${kLocalEvents}/`}
                selected={currentPage === kLocalEvents}
                disabled
                selected
              >{selectCountry}</option
              >
              <option value={pagePath('all')} selected={currentPage === 'all'}
                >{all}</option
              >

              {
                countryKeys.map((countryKey) => {
                  const pageName = slugify(countryKey);

                  return (
                    <option
                      value={pagePath(pageName)}
                      selected={currentPage === pageName}>
                      {countryL10ns[countryKey]}
                    </option>
                  );
                })
              }
            </select>
            <div class="ep:[&_svg]:right-[16px] ep:[&_svg]:pointer-events-none ep:peer-disabled:[&_*]:fill-blue-500">
              <span class="ep:icon ep-block ep:w-[24px] ep-shrink-0">
                <svg
                  role="presentation"
                  aria-hidden="true"
                  focusable="false"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24">
                  <g>
                    <g>
                      <rect style="fill:none" width="24" height="24"></rect>
                    </g>
                    <polygon
                      class="ep:fill-blue-500"
                      points="12 17.6 4.22 9.82 5.64 8.4 12 14.77 18.36 8.41 19.78 9.82 12 17.6"
                    ></polygon>
                  </g>
                </svg>
              </span>
            </div>
          </div>
        </ep-select-single>
      </div>
    </div>
  </section>

  <section class="ep:l:max-w-6xl ep:l:mx-auto ep:px-8 ep:my-xl">
    <div class="ep:mx-width-container ep:l:flex">
      <ul
        class="ep:flex ep:flex-col ep:l:flex-row ep:flex-wrap ep:w-full ep:l:[&>li]:w-1/3 ep:l:[&>li]:pr-4 ep:l:[&>li:last-of-type]:pr-0 ep:gap-y-10">
        {
          eplos.map((eplo) => (
            <li>
              <CardLocationActivity {lang} {...eplo} />
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</main>
