---
import { makeHref } from '../../js/utils';

import Span from '../primitive/text/span.astro';
import IconCheckmark from '../primitive/icons/icon-checkmark.astro';

interface Props {
  ariacurrent?: boolean;
  bgcolor?: string;
  colorfont?: string;
  currentPage: string;
  focus?: string;
  hidden?: string;
  hoverbgcolor?: string;
  href?: string;
  lang: string;
  langCode: string;
  langLabel: string;
  sizefont?: string;
  spacingico?: string;
  weightfont?: string;
}

const { lang, langCode, langLabel, currentPage } = Astro.props;
const isSelectedLang = langCode === lang;

const {
  ariacurrent = isSelectedLang,
  colorfont = '',
  focus = '',
  hidden = '',
  href = makeHref({ currentPage, lang: langCode }),
  sizefont = 'ep:text-body-l',
  spacingico = '',
  weightfont = isSelectedLang ? 'ep:font-epsemiboldvar' : '',
} = Astro.props;

const spanProps = {
  colorfont,
  hidden,
  label: `${langCode.toUpperCase()} - ${langLabel}`,
  sizefont,
  weightfont,
};
---

<ep-default-link-lang data-component="default-link-lang">
  <a
    lang={langCode}
    hreflang={langCode}
    {href}
    aria-current={ariacurrent}
    class=`${spacingico} ep:inline-flex ep:items-center ep:text-blue-500 ep:hover:text-blue-800 ${focus}`>
    <Span {...spanProps} />
  </a>
</ep-default-link-lang>
{isSelectedLang && <IconCheckmark />}
