---
import { metadataForLang } from '@packages/data';

import { kAssetsDir } from '../../js/utils.js';

import Strong from '../primitive/text/strong.astro';
import Span from '../primitive/text/span.astro';

interface Props {
  active?: string;
  bgcolor?: string;
  bordercolor?: string;
  coloricon?: string;
  focus?: string;
  hover?: string;
  href?: string;
  id?: string;
  label?: string;
  lang: string;
  rel?: string;
  sizefont?: string;
  target?: string;
  text?: boolean;
  txtcolor?: string;
  weightfont?: string;
}

const { lang } = Astro.props;

const metadata = metadataForLang(lang);

const {
  active = '',
  bgcolor = '',
  bordercolor = '',
  focus = '',
  hover = '',
  href,
  label = '',
  sizefont = '',
  target = '',
  text = true,
  txtcolor = '',
  weightfont = '',
} = Astro.props;

const strongProps = {
  lang,
  label,
  shortLabel: label,
  sizefont,
  weightfont,
  colorfont: '',
};
---

<ep-secondary-link data-component="secondary-link">
  <a
    href={href ? `${kAssetsDir}pdfs/${href}` : null}
    role={href ? null : 'link'}
    aria-disabled={href ? null : true}
    class={`${bgcolor} ${txtcolor} ${href ? '' : 'ep:cursor-not-allowed'} ep:text-start ep:w-fit ep:border-2 ep:min-h-[44px] ep:flex ep:items-center ep:py-2xs ep:px-l ep:*:inline-block ${bordercolor} ep:rounded-xs ep:group ep:[&>strong]:mr-xs ${href ? hover : ''} ${href ? focus : ''} ${href ? active : ''}`}>
    {text && <Strong {...strongProps} />}

    {/* accessibility label If target blank */}
    {
      target === '_blank' && (
        <Span
          label={metadata.opensInNewWindow}
          hidden="ep:sr-only"
          sizefont=""
          weightfont=""
          colorfont=""
        />
      )
    }
    <span class="ep:icon ep:block ep:w-[24px] ep:shrink-0">
      <svg
        role="presentation"
        aria-hidden="true"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <g>
          <g>
            <g>
              <rect style="fill:none" width="24" height="24"></rect>
            </g>
            <g>
              <polygon
                class="ep:fill-blue-500"
                points="21.99 22 2 22 2 16 4 16 4 20 19.99 20 19.99 16 21.99 16 21.99 22"
              ></polygon>
              <polygon
                class="ep:fill-blue-500"
                points="18.35 8.82 12.99 14.18 12.99 1.99 10.99 1.99 10.99 14.18 5.63 8.82 4.22 10.23 11.99 18.01 19.77 10.24 18.35 8.82"
              ></polygon>
            </g>
          </g>
        </g>
      </svg>
    </span>
  </a>
</ep-secondary-link>
