---
import { metadataForLang } from '@packages/data';
import Strong from '../primitive/text/strong.astro';
import Span from '../primitive/text/span.astro';

interface Props {
  active?: string;
  bgcolor?: string;
  bordercolor?: string;
  coloricon?: string;
  focus?: string;
  hover?: string;
  href?: string;
  id?: string;
  label?: string;
  lang: string;
  rel?: string;
  sizefont?: string;
  target?: string;
  text?: boolean;
  txtcolor?: string;
  weightfont?: string;
}

const { lang } = Astro.props;

const metadata = metadataForLang(lang);

const {
  active = '',
  bgcolor = '',
  bordercolor = '',
  focus = '',
  hover = '',
  label = '',
  sizefont = '',
  target = '',
  text = true,
  txtcolor = '',
  weightfont = '',
} = Astro.props;

const strongProps = {
  lang,
  label,
  shortLabel: label,
  sizefont,
  weightfont,
  colorfont: '',
};
---

<ep-secondary-link-disabled data-component="ep-secondary-link">
  <div
    class={`${bgcolor} ${txtcolor} ep:text-start ep:w-fit ep:border-2 ep:min-h-[44px] ep:flex ep:items-center ep:py-2xs ep:px-l ep:*:inline-block ${bordercolor} ep:rounded-xs ep:group ep:[&>strong]:mr-xs ${hover} ${focus} ${active}`}>
    {text && <Strong {...strongProps} />}

    {/* accessibility label If target blank */}
    {
      target === '_blank' && (
        <Span
          label={metadata.opensInNewWindow}
          hidden="ep:sr-only"
          sizefont=""
          weightfont=""
          colorfont=""
        />
      )
    }
  </div>
</ep-secondary-link-disabled>
