---
interface Props {
  colorfont?: string;
  hidden?: string;
  label?: string;
  lang: string;
  sizefont?: string;
  weightfont?: string;
}

import { metadataForLang } from '@packages/data';

const { lang } = Astro.props;

const {
  colorfont = 'ep:text-blue-500',
  hidden = '',
  label = metadataForLang(lang).switchLanguage,
  sizefont = 'ep:text-heading-m ep:leading-heading-m',
  weightfont = 'ep:font-epsemiboldvar',
} = Astro.props;
---

<h2
  class=`label ep:inline-block ${sizefont} ${weightfont} ${colorfont} ${hidden}`>
  {label}
</h2>
