---
interface Props {
  colorfont?: string;
  label?: string;
  lang: string;
  shortLabel?: string;
  sizefont?: string;
  weightfont?: string;
}

import { languages } from '@packages/data';

const { lang } = Astro.props;

const {
  label = languages[lang],
  shortLabel = lang.toUpperCase(),
  sizefont = 'ep-body-l',
  weightfont = 'ep:font-epsemiboldvar',
  colorfont = '',
} = Astro.props;
---

<strong class=`label ${sizefont} ${weightfont} ${colorfont}`>
  <span class="ep:s:sr-only">{shortLabel}</span>
  <span class="ep:sr-only ep:s:not-sr-only">{label}</span>
</strong>
