---
interface Props {
  lang: string;
}

import { metadata } from '../../js/utils.js';

const { lang } = Astro.props;

const {
  infoLinks,
  legalNoticeLabel,
  privacyPolicyLabel,
  sitemap,
  contactUs,
  copyright,
  accessibilityLabel,
} = await metadata(lang);

const links = [
  {
    label: legalNoticeLabel,
    url: `https://www.europarl.europa.eu/legal-notice/${lang}`,
  },
  {
    label: privacyPolicyLabel,
    url: `https://www.europarl.europa.eu/privacy-policy/${lang}`,
  },
  {
    label: sitemap,
    url: `https://www.europarl.europa.eu/portal/${lang}/sitemap`,
  },

  {
    label: contactUs,
    url: `https://www.europarl.europa.eu/portal/${lang}/contact`,
  },
  {
    label: accessibilityLabel,
    url: `https://www.europarl.europa.eu/portal/${lang}/accessibility`,
  },
  { label: copyright, url: `https://www.europarl.europa.eu/portal/${lang}` },
];
---

<nav class="navFooter ep:p-4 ep:text-center" aria-label={infoLinks}>
  <ul class="ep:l:flex ep:justify-center ep:flex-wrap">
    {
      links.map(({ label, url }) => (
        <li class="ep:pb-4">
          <a
            href={url}
            class="ep:relative ep:text-black-darker ep:l:mr-6 ep:focus:outline ep:focus:outline-2 ep:focus:outline-accent-blue-500 ep:focus:outline-offset-4">
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
