---
interface Props {
  lang: string;
  currentPage: string;
}

import { propsKey, props } from '../js/utils.js';
import Head from '../components/head.astro';
import WAIShortcuts from '../components/accessibility/wai-shortcuts.astro';
import HeaderHome from '../components/organisms/header/header-home.astro';
import HeaderIndex from '../components/header-index.astro';
import Footer from '../components/footer/index.astro';

const { lang, currentPage } = Astro.props;

const { title } = props(propsKey(currentPage), lang);

const headerProps = { lang, currentPage };
---

<!doctype html>
<html {lang} class="no-js ep">
  <Head {lang} {currentPage} />

  <body>
    <WAIShortcuts {lang} />

    <!-- NAVIGATION -->

    <!-- // ------------------------ START HEADER AREA ------------------------- // -->

    <!-- Landmark -->
    <header>
      <!-- GRID SYSTEM -->
      <!-- Max-width and Grid template -->
      <div class="ep:max-w-7xl ep:mx-auto ep:px-l">
        <div class="ep:layout ep:*:col-span-12">
          <div>
            <HeaderHome {...headerProps} />
          </div>
        </div>
      </div>

      <!-- Max-width and Grid template -->

      <!-- On 12 cols -->
      <div>
        <HeaderIndex {lang} {title} />
      </div>
    </header>
    <!-- // ------------------------ END HEADER AREA ------------------------- // -->
    <!-- // ------------------------ START MAIN AREA ------------------------- // -->
    <slot />
    <!-- // ------------------------ END MAIN AREA ------------------------- // -->

    <!-- // ------------------------ START FOOTER AREA ------------------------- // -->
    <Footer {lang} />
    <!-- // ------------------------ END FOOTER AREA ------------------------- // -->
  </body>
</html>
