---
interface Props {
  active?: string;
  bgcolor?: string;
  bordercolor?: string;
  buttonType?: 'button' | 'submit' | 'reset';
  coloricon?: string;
  control?: string;
  disabled?: string;
  focus?: string;
  hoverbgcolor?: string;
  hovercoloricon?: string;
  hovertxtcolor?: string;
  iconl?: boolean;
  iconr?: boolean;
  iconrexpand?: false;
  id?: string;
  label?: string;
  lang: string;
  radius?: string;
  spacingico?: string;
  targetclass?: string;
  text?: boolean;
  txtcolor?: string;
  weightfont?: string;
}

import IconLeft from '../primitive/icons/icon-switch.astro';
import IconChevronDownLeft from '../primitive/icons/icon-chevron-down-l.astro';
import IconCloseLeft from '../primitive/icons/icon-close-l.astro';
import Strong from '../primitive/text/strong.astro';

const { lang } = Astro.props;
const {
  active = 'ep:active:bg-accent-blue-500 ep:active:[&_.label]:text-white ep:active:border-accent-blue-500 ep:active:[&>span>svg_polygon]:fill-white ep:active:[&>span>svg_path]:fill-white',
  bgcolor = 'ep:bg-white',
  bordercolor = 'ep:border-blue-500',
  buttonType = 'button',

  coloricon = 'ep:fill-blue-500',
  control = 'menu2-list',
  disabled = '',

  focus = 'ep:focus:outline ep:focus:outline-2 ep:focus:outline-accent-blue-500 ep:focus:outline-offset-4',
  hoverbgcolor = 'ep:hover:bg-white ep:hover:border-blue-800',
  hovercoloricon = 'ep:hover:fill-white ep:hover:[&>span>svg_polygon]:fill-blue-800 ep:hover:[&>span>svg_path]:fill-blue-800',
  hovertxtcolor = 'ep:hover:text-blue-800 ep:[&>*]:hover:text-blue-800',
  iconl = true,
  iconr = true,
  iconrexpand = false,
  id = 'lang-menu',
  radius = 'ep:rounded-xs',
  spacingico = 'ep:s:[&_.label]:mr-2xs ep:m:[&_.label]:mx-2xs',
  targetclass = 'nav-button',
  text = true,
  txtcolor = 'ep:text-blue-500',
} = Astro.props;
---

<ep-button-expand-secondary data-component="button-expand-secondary">
  <button
    {id}
    type={buttonType}
    {disabled}
    aria-expanded="false"
    aria-controls={control}
    class=`${targetclass} ${spacingico} ${bgcolor} ep:text-start ep:min-h-[44px] ep:flex ep:items-center ep:border-2 ${txtcolor} ep:*:leading-none ep:py-2xs ep:px-l ep:*:inline-block ${bordercolor} ${radius} ${hovertxtcolor} ${hoverbgcolor} ${hovercoloricon} ${focus} ${active} ep:[&_.ep-icon:last-of-type]:transition ep:[&_.ep-icon:last-of-type]:ease-in-out ep:[&_.ep-icon:last-of-type]:duration-300 ep:aria-expanded:[&_.ep-icon:last-of-type]:rotate-180`>
    {iconl && <IconLeft {coloricon} />}
    {text && <Strong {lang} />}
    {iconr && <IconChevronDownLeft {coloricon} />}
    {iconrexpand && <IconCloseLeft {coloricon} />}
  </button>
</ep-button-expand-secondary>
